{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            RPG Learning
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'challenge/css/challenge.css' %}"
    >

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <div class="mobile-app">

        <header>
            <div class="user-hp">
                User HP
            </div>
            <div class="user-mp">
                User MP
            </div>
        </header>

        <section class="battlefield">
            here is character
        </section>

        <main>

            <h1 class="question-location">
                Section {{ question.unit.section.id }} · Unit {{ question.unit.id }}
            </h1>
            <h2 class="question-type">
                {{ question.title }}
            </h2>
            <h3 class="question-text">
                {{ question.description }}
            </h3>
            <h4 class="question-text">
                {% for option in question.options.all %}
                        <span>{{ option.title }}</span>
                        <span>{{ option.description }}</span>
                {% endfor %}
            </h4>
            <!-- <h5>
                {% if result %}
                    <p class="answer-result">
                {{ result }}
                    </p>
                {% endif %}
            </h5> -->

        </main>

        <footer>
            <form method="post">
                {% csrf_token %}
                <div class="answer-options">

                    {% for option in question.options.all %}
                        <button
                            type="button"
                            class="answer-option"
                            data-option-id="{{ option.id }}"
                        >
                        {{ option.title }}
                        </button>
                    {% endfor %}

                    <input
                        type="hidden"
                        name="selected_option"
                        id="selected-option"
                    >

                </div>

                <div class="check-options">
                    <button 
                        type="submit"
                        name="action"
                        value="skill"
                    >
                    Skill
                    </button>

                    <button 
                        type="submit"
                        id="check"
                        name="action"
                        value="check"
                        data-result="result"
                        data-explanation="question.explanation"
                    >
                    Check
                    </button>

                    <button
                        type="submit"
                        name="action"
                        value="quit"
                    >
                    Quit
                    </button>
                </div>
            </form>

            <dialog id="explanation-dialog">
                <h1 id="dialog-result"></h1>
                <h2 id="dialog-explanation"></h2>
                <button type="button" id="continue-confirm">
                    <h3>Continue</h3>
                </button>
                <button type="button" id="close-dialog-button">
                    Close
                </button>
            </dialog>
        </footer>
</body>

<script>
    const optionButtons = document.querySelectorAll(".answer-option");
    const selectedOptionInput = document.querySelector("#selected-option");

    optionButtons.forEach((button) => {
        button.addEventListener("click", () => {
            optionButtons.forEach((item) => {
                item.classList.remove("selected");
            });
            button.classList.add("selected");
            selectedOptionInput.value = button.dataset.optionId;
        });
    });

    const dialog = document.querySelector("#explanation-dialog");
    const openButton = document.querySelector("#check");
    const closeButton = document.querySelector("#close-dialog-button");
    const dialogResult = document.querySelector("#dialog-result");
    const dialogExplanation = document.querySelector("#dialog-explanation");

    openButton.addEventListener("click", function () {
            const result = openButton.dataset.result;
            const explanation = openButton.dataset.explanation;

            dialogResult.textContent = result;
            dialogExplanation.textContent = explanation;

            dialog.showModal();
        });

    closeButton.addEventListener("click", function () {
        dialog.close();
    });


    const resultDialog = document.querySelector("#result-dialog");
    const continueButton = document.querySelector("#continue-button");

    if (resultDialog) {
        resultDialog.showModal();

        continueButton.addEventListener("click", function () {
            resultDialog.close();
        });
    }

</script>
</html>