{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>RPG Learning</title>

    <link
        rel="stylesheet"
        href="{% static 'challenge/css/challenge.css' %}"
    >
</head>

<body>
    <div class="mobile-app">

        <form id="csrf-form" style="display: none;">
            {% csrf_token %}
        </form>

        <section id="challenge-root"></section>

        {{ challengeData|json_script:"challenge-data" }}
        {{ questionData|json_script:"question-data" }}

    </div>

    <link
        rel="stylesheet"
        href="{% static 'react/main.css' %}"
    >

    <script
        type="module"
        src="{% static 'react/main.js' %}"
    ></script>

</body>

</html>