{% extends "base.html" %}

{% block main %}

<div>
    <h1>
        {{ challenge_result }}
    </h1>

    <h2>
        You get 20 gold! now you have {{ user_gold }} golds!<br>
        You get 20 EXP! now you have {{ user_exp }}/{{ exp_to_next_level }} experience!
    </h2>

    <h3>
        you finish total {{ total_questions }} questions<br>
        {{ total_correct }} of questions are correct<br>
        {{ total_wrong }} of questions are wrong<br>
        the accuracy is {{ accuracy }}
    </h3>
</div>

<div>
    <form method="post">
        {% csrf_token %}
        <button type="submit">
        back
        </button>
    </form>
</div>
{% endblock %}