{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'store/css/store.css' %}"
    >
{% endblock %}

{% block main %}
<div id="character-store">

    <div
        id="character-store-logo"
        data-selected-character-id = "{{ current_character_id }}"
    >
        <h1>Character Store</h1>
    </div>

    {% for character in characters %}

        <form method="post">
        {% csrf_token %}
        <input
            type="hidden"
            name="character_id"
            value="{{ character.id }}"
        >

            <div 
                class="character-cards"
                data-character-id="{{ character.id }}"
            >
                <div class="character-cards-info">
                    <p>Name : {{ character.name }}</p>
                    <p>Max Hp : {{ character.max_hp }}</p>
                    <p>Max Mp : {{ character.max_mp }}</p>
                    <p>{{ character.description }}</p>
                    <p>picture here : {{ character.name }}</p>
                    <p>Skill : {{ character.skill.name }}</p>
                    <p>{{ character.skill.description }}</p>

                {% if not character.id in unlocked_characters_id %}
                    <p>Unlock Price : {{ character.unlock_price }}</p>
                {% endif %}
                </div>

                {% if character.id == user.user_profile.selected_character.id %}
                <button
                    class="status-buttons"
                    type="button"
                    disabled
                >
                    Selected
                </button>
                {% elif character.id in unlocked_characters_id %}
                <button
                    class="status-buttons"
                    type="submit"
                    name="action"
                    value="select"
                >
                    Select
                </button>
                {% else %}
                <button
                    class="status-buttons"
                    type="submit"
                    name="action"
                    value="buy"
                >
                    Buy
                </button>
                {% endif %}

            </div>
        </form>
    {% endfor %}

    <div class="switch-buttons">
        <button id="left-button">
            left
        </button>

        <button id="right-button">
            right
        </button>
    </div>

</div>

<script>

    const characterCards = document.querySelectorAll(".character-cards");
    const statusButtons = document.querySelectorAll(".status-buttons");

    const characterStore = document.querySelector("#character-store-logo")
    const selectedCharacterId = Number(characterStore.dataset.selectedCharacterId)
    let currentIndex = selectedCharacterId

    const leftSwitchButton = document.querySelector("#left-button");
    const rightSwitchButton = document.querySelector("#right-button");

    function showCard() {
        characterCards.forEach((card) => {
            if (currentIndex == card.dataset.characterId) {
                card.classList.remove("hidden");
            } else {
                card.classList.add("hidden");
            }
        });
    }

    showCard()
    leftSwitchButton.addEventListener("click", () =>{
        currentIndex -= 1;
        if (currentIndex < 1){
            currentIndex = characterCards.length
        }
        showCard();
    })
    rightSwitchButton.addEventListener("click", () =>{
        currentIndex += 1;
        if (currentIndex > characterCards.length){
            currentIndex = 1
        }
        showCard();
    })

</script>

{% endblock %}
