/* ---------- Reset ---------- */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ---------- Body ---------- */
body{
    background: red;
    display:flex;
    justify-content:center;
    min-height:100vh;
    background:#e5e5e5;
    font-family:Arial, Helvetica, sans-serif;
}
/* ---------- 整个网页 ---------- */
.mobile-app{
    width:100%;
    max-width:430px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:white;
    box-shadow:0 0 12px rgba(0,0,0,.2);
}
/* ---------- 用户信息栏 ---------- */
header {
    display: flex;
    height: 80px;
    padding: 20px;
    align-items: center;
    border-bottom: 3px solid black;
}
.user-icon {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    font-size: 24px;
}
.user-information {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-id {
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
}
.user-assets {
    padding-left: 15px;
    display: flex;
    gap: 30px;
    font-size: 15px;
    line-height: 1;
}
/* ---------- 战斗显示 ---------- */
.battlefield {
    height: 130px;
    padding: 20px;
    border-bottom: 3px solid black;
}
/* ---------- 中间main区 ---------- */
main {
    flex: 1;
    padding: 20px;

    border-bottom: 3px solid black;
}
/* ---------- 底部按钮 ---------- */
footer {
    height: 50px;
}
footer nav {
    width: 100%;
    height: 100%;
    display: flex;
}
footer nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
}
footer nav a:last-child {
    border-right: none;
}
footer nav a.active {
    background-color: #e5e5e5;
    font-weight: 700;
    border-top: 5px solid black;
}

.feedback {
    opacity: 1;
    transition: opacity 0.5s;
}

.feedback.fade-out {
    opacity: 0;
}