{% extends "base.html" %}

{% block main %}

<div>
    <h1>
        finish the daily quest to get extra rewards
    </h1>
</div>

<div>
    <h2>Daily Quest</h2>
    <h3>
        <form method="post">
        {% csrf_token %}
            Answer 5 questions correctly  {{ quest1_progress }}/5 
            <button
                type="submit"
                name="action"
                value="1"
                {% if not quest1_completed or user_daily_data.daily_quest1_rewarded%}
                    disabled
                {% endif %}
            >
                {% if not quest1_completed %}
                    unfinished
                {% elif user_daily_data.daily_quest1_rewarded %}
                    rewarded
                {% else %}
                    reward
                {% endif %}
            </button>

            <br>

            Passed 1 units with full HP {{ quest2_progress }}/1 
            <button
                type="submit"
                name="action"
                value="2"
                {% if not quest2_completed or user_daily_data.daily_quest2_rewarded%}
                    disabled
                {% endif %}
            >
                {% if not quest2_completed %}
                    unfinished
                {% elif user_daily_data.daily_quest2_rewarded %}
                    rewarded
                {% else %}
                    reward
                {% endif %}
            </button>

            <br>

            Passed 2 units {{ quest3_progress }}/2 
            <button
                type="submit"
                name="action"
                value="3"
                {% if not quest3_completed or user_daily_data.daily_quest3_rewarded%}
                    disabled
                {% endif %}
            >
                {% if not quest3_completed %}
                    unfinished
                {% elif user_daily_data.daily_quest3_rewarded %}
                    rewarded
                {% else %}
                    reward
                {% endif %}
            </button>
        </form>
    </h3>
    <p> {{daily_correct_count }} </p>
</div>

{% endblock %}