{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'mainquest/css/mainquest.css' %}"
    >
{% endblock %}

{% block main %}

    <div 
        id="section-information"
        data-current-section-id="{{ current_section_id }}">
    </div>

    <button 
        id="left-button"
        type="button"
    >
        left
    </button>

    {% for section in sections.all %}
        <div 
            class="section-cards"
            data-section-id="{{ section.id }}"
        >
            Section : {{ section.id }}
            <div class="unit-button">
                {% for unit in section.units.all %}
                    <button 
                        type="button" 
                        class="open-dialog-button"
                        data-unit-id="{{ unit.id }}"
                        data-unit-description="{{ unit.description }}"
                        {% if unit.id > current_unit_id %}
                            disabled
                        {% endif %}
                    >
                    {{ unit.order_no }}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <form method="post">
    {% csrf_token %}
        <input
            type="hidden"
            id="unit-selected"
            name="unit-request"
        >
        <dialog id="unit-dialog">
            <h1 id="dialog-unit-title"></h1>
            <h2 id="dialog-unit-description"></h2>

            <button type="submit" id="begin-confirm">
                <h1>Continue +20EXP </h1>
            </button>

            <button type="button" id="close-dialog-button">
                Close
            </button>
        </dialog>
    </form>

    <button 
        type="button" 
        id="right-button">
        right
    </button>
    
    <script>
        const sectionCards = document.querySelectorAll(".section-cards")
        const sectionInformation = document.querySelector("#section-information")
        let sectionIndex = Number(sectionInformation.dataset.currentSectionId)

        function showCard() {
            sectionCards.forEach((card) => {
                if (sectionIndex == card.dataset.sectionId) {
                    card.classList.remove("hidden");
                } else {
                    card.classList.add("hidden");
                }
            });
        }
        showCard()

        const leftButton = document.querySelector("#left-button")
        const rightButton = document.querySelector("#right-button")

        leftButton.addEventListener("click", function(){
            sectionIndex -= 1
            if (sectionIndex < 1){
                sectionIndex = sectionCards.length
            }
            showCard()
        })

        rightButton.addEventListener("click", function(){
            sectionIndex += 1
            if (sectionIndex > sectionCards.length){
                sectionIndex = 1
            }
            showCard()
        })

        const dialog = document.querySelector("#unit-dialog");
        const openButtons = document.querySelectorAll(".open-dialog-button");
        const closeButton = document.querySelector("#close-dialog-button");
        const dialogTitle = document.querySelector("#dialog-unit-title");
        const dialogDescription = document.querySelector("#dialog-unit-description");
        const selectedUnitInput = document.querySelector("#unit-selected");

        openButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const unitId = button.dataset.unitId;
                const unitDescription = button.dataset.unitDescription;

                dialogTitle.textContent = `Unit ${unitId}`;
                dialogDescription.textContent = unitDescription;
                selectedUnitInput.value = unitId;

                dialog.showModal();
            });
        });

        closeButton.addEventListener("click", function () {
            dialog.close();
        });

    </script>

{% endblock %}