{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static 'mainquest/css/mainquest.css' %}"
    >
{% endblock %}

{% block main %}

<div class="section-text">
    <h1>{{ section.id }}</h1>
    <h2>{{ unit.id }}</h2>
</div>

<form method="post">
    {% csrf_token %}

    <div class="unit-button">
            <button type="button" class="left">
                left
            </button>

        {% for unit in section.units.all %}
            <button 
                type="button" 
                class="open-dialog-button"
                data-unit-id="{{ unit.id }}"
                data-unit-description="{{ unit.description }}"
            >
            {{ unit.id }}
            </button>
        {% endfor %}

            <button type="button" class="right">
                right
            </button>

            <input
                type="hidden"
                id="mainquest-selected"
                name="mainquest-request"
            >

    </div>

    <dialog id="unit-dialog">

        <h1 id="dialog-unit-title"></h1>
        <h2 id="dialog-unit-description"></h2>

        <button type="submit" id="begin-confirm">
            <h1>Continue +20EXP </h1>
        </button>

        <button type="button" id="close-dialog-button">
            Close
        </button>

    </dialog>

</form>

<script>
    const dialog = document.querySelector("#unit-dialog");
    const openButtons = document.querySelectorAll(".open-dialog-button");
    const closeButton = document.querySelector("#close-dialog-button");
    const dialogTitle = document.querySelector("#dialog-unit-title");
    const dialogDescription = document.querySelector("#dialog-unit-description");
    const selectedUnitInput = document.querySelector("#mainquest-selected");

    openButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const unitId = button.dataset.unitId;
            const unitDescription = button.dataset.unitDescription;

            dialogTitle.textContent = `Unit ${unitId}`;
            dialogDescription.textContent = unitDescription;
            selectedUnitInput.value = unitId;

            dialog.showModal();
        });
    });

    closeButton.addEventListener("click", function () {
        dialog.close();
    });
</script>

{% endblock %}