{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            RPG Learning
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <div class="mobile-app">

        <header>
            <div class="user-icon">
                Icon
            </div>
            
            <div class="user-information">

                <div class="user-id">
                    User ID
                </div>

                <div class="user-assets">
                    <span>Level : 99</span>
                    <span>Gold : 99</span>
                </div>

            </div>
        </header>

        <section class="battlefield">
            Here is character and battle field
        </section>

        <main>
            {% block main %}
            这里是内容
            {% endblock %}
        </main>

        <footer>
            <nav>
                <a href="{% url 'mainquest:home' %}"
                   class="{% if request.resolver_match.namespace == 'mainquest' %}active{% endif %}"
                >
                    Main <br>
                    Quest
                </a>

                <a href="{% url 'dailyquest:home' %}"
                   class="{% if request.resolver_match.namespace == 'dailyquest' %}active{% endif %}"
                >
                    Daily <br>
                    Quest
                </a>

                <a href=""
                   class="{% if request.resolver_match.namespace == 'challenge' %}active{% endif %}"
                >
                    Profile
                </a>

                <a href="{% url 'store:home' %}"
                   class="{% if request.resolver_match.namespace == 'store' %}active{% endif %}"
                >
                    Store
                </a>

                <a href="{% url 'accounts:home' %}"
                   class="{% if request.resolver_match.namespace == 'accounts' %}active{% endif %}"
                >
                    Setting
                </a>
            </nav>
        </footer>

    </div>
</body>

</html>