.battlefield {
    width: 400px;
}

.player {
    position: relative;
    transition: transform 0.2s;
}

.player-attack {
    transform: translateX(300px);
}

.player-hurt {
    animation: hurt 0.2s;
}

.enemy {
    position: relative;
    left: 350px;
    transition: transform 0.2s;
}

.enemy-attack {
    transform: translateX(-300px);
}

.enemy-hurt {
    animation: hurt 0.2s
}

@keyframes hurt {
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}