#character-store {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.character-cards-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.status-buttons {
    margin-top: auto;
    width: 70%;
    height: 44px;
    flex-shrink: 0;
}

.switch-buttons {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0px;
}

#left-button,
#right-button {
    width: 55px;
    height: 55px;
    border: 2px solid #222;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 0 #222;
}

.character-cards.hidden {
    display: none;
}